<!-- Sidebar -->
<div class="row">
	<div class="three columns">
		<img id="profile_image" src="../static/images/profile.jpg">
		<div class="sidebar">
			<a href="#/"><div class="item selected">Home</div></a>
			<a href="#/about"><div class="item">About</div></a>
			<a href="#/skills"><div class="item">Skills</div></a>
			<div class="item_no_hover">
				<a href="#/projects"><div class="item_header">Projects</div></a>
				<a href="#/froxxi"><div class="item_sub">froxxi</div></a>
				<a href="#/stardate"><div class="item_sub">Stardate</div></a>
				<a href="#/snippet"><div class="item_sub">Snippet</div></a>
				<a href="#/localator"><div class="item_sub">Localator</div></a>
			</div>
			<a href="#/contact"><div class="item">Contact</div></a>
			<div class="item_no_hover">
				<a href="https://www.linkedin.com/in/philipvo"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
				<a href="https://github.com/PhilipVo"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
				<a href="mailto:philiptranbavo@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>			
			</div>
		</div>
	</div>

	<div class="nine columns">
		<hr>
		<h3>Welcome!</h3>
		<p>Please feel free to take a look around and get to know me. Make sure to check out my <a href="#/projects">projects page</a> to see my recent works.</p>
		<p>If you are interested in working with me, have any inquiries, or just want to chat, please feel free to <a href="#/contact">contact me</a>.</p>
	</div>
</div>