<!-- Sidebar -->
<div id="sidebar" class="ui thin fixed left vertical visible sidebar icon stackable 	menu">
	<img class="ui image" src="../static/images/profile.jpg">
	<a class="item">Home</a>
	<a class="item">About</a>
	<a class="item">Skills</a>
	<div class="item active">
		Projects
		<div class="menu">
			<a href="" class="item active">froxxi</a>
			<a href="" class="item">Stardate</a>
			<a href="" class="item">Localator</a>
			<a href="" class="item">Snippet</a>			
		</div>
	</div>
	<a class="item">Contact</a>
	<div class="item">
		<a href=""><i class="linkedin icon"></i></a>
		<a href=""><i class="github icon"></i></a>  
		<a href=""><i class="mail icon"></i></a>  
	</div>
</div>

<div class="ui four column container pusher">
  <h2 class="ui header">Dogs Roles with Humans</h2>
  <p>Domestic dogs inherited complex behaviors, such as bite inhibition, from their wolf ancestors, which would have been pack hunters with complex body language. These sophisticated forms of social cognition and communication may account for their trainability, playfulness, and ability to fit into human households and social situations, and these attributes have given dogs a relationship with humans that has enabled them to become one of the most successful species on the planet today.

The dogs' value to early human hunter-gatherers led to them quickly becoming ubiquitous across world cultures. Dogs perform many roles for people, such as hunting, herding, pulling loads, protection, assisting police and military, companionship, and, more recently, aiding handicapped individuals. This impact on human society has given them the nickname "man's best friend" in the Western world. In some cultures, however, dogs are also a source of meat.</p>
</div>