<!-- Sidebar -->
<div class="row">
	<div class="three columns">
		<img id="profile_image" src="../static/images/profile.jpg">
		<div class="sidebar">
			<a href="#/"><div class="item">Home</div></a>
			<a href="#/about"><div class="item">About</div></a>
			<a href="#/skills"><div class="item">Skills</div></a>
			<div class="item_no_hover">
				<a href="#/projects"><div class="item_header selected">Projects</div></a>
				<a href="#/froxxi"><div class="item_sub">froxxi</div></a>
				<a href="#/stardate"><div class="item_sub">Stardate</div></a>
				<a href="#/snippet"><div class="item_sub">Snippet</div></a>
				<a href="#/localator"><div class="item_sub">Localator</div></a>
			</div>
			<a href="#/contact"><div class="item">Contact</div></a>
			<div class="item_no_hover">
				<a href="https://www.linkedin.com/in/philipvo"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
				<a href="https://github.com/PhilipVo"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
				<a href="mailto:philiptranbavo@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>			
			</div>
		</div>
	</div>

	<div class="nine columns">
		<hr>
		<h3>About</h3>
		<p>Hello, I'm Philip! I studied Computer Engineering at the Univeristy of California, Davis starting from 2009 and graduated in 2013 with my B.S.</p>
	</div>
</div>