<!-- Sidebar -->
<div class="row">
	<div class="three columns">
		<img id="profile_image" src="../static/images/profile.jpg">
		<div class="sidebar">
			<a href="#/"><div class="item">Home</div></a>
			<a href="#/about"><div class="item">About</div></a>
			<a href="#/skills"><div class="item">Skills</div></a>
			<div class="item_no_hover">
				<a href="#/projects"><div class="item_header selected"><i class="no_hover fa fa-long-arrow-right fa-lg" aria-hidden="true"></i>Projects</div></a>
				<a href="#/froxxi"><div class="item_sub">froxxi</div></a>
				<a href="#/stardate"><div class="item_sub">Stardate</div></a>
				<a href="#/snippet"><div class="item_sub">Snippet</div></a>
				<a href="#/localator"><div class="item_sub">Localator</div></a>
			</div>
			<a href="#/contact"><div class="item">Contact</div></a>
			<div class="item_no_hover">
				<a href="https://www.linkedin.com/in/philipvo"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
				<a href="https://github.com/PhilipVo"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
				<a href="mailto:philiptranbavo@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>			
			</div>
		</div>
	</div>

	<div class="nine columns">
		<hr>
		<h3>Projects</h3>
		<p>Here are some of my projects. Feel free to click on them for more information.</p>
		<div class="row">
			<div class="six columns">
				<hr>
				<p><b><a class="no_underline" href="#/froxxi">froxxi</a></b> - <a class="no_underline" href="http://froxxi.com">http://froxxi.com</a></p>
				<a href="#/froxxi"><img class="u-max-full-width site" src="../static/images/froxxi.png"></a>
			</div>
			<div class="six columns">
				<hr>
				<p><b><a class="no_underline" href="#/stardate">Stardate</a></b> - <a class="no_underline" href="https://github.com/PhilipVo/Meteorites">View on GitHub</a></p>
				<a href="#/stardate"><img class="u-max-full-width site" src="../static/images/stardate.jpg"></a>
			</div>
		</div>
		<div class="row">
			
			<div class="six columns">
				<hr>
				<p><b><a class="no_underline" href="#/snippet">Snippet</a></b> - <a class="no_underline" href="https://github.com/alex-wap/iOS-Projects/tree/master/snippet">View on GitHub</a></p>
				<a href="#/snippet"><img class="u-max-full-width site" src="../static/images/snippet.png"></a>
			</div>
			<div class="six columns">
				<hr>
				<p><b><a class="no_underline" href="#/localator">Localator</a></b> - <a class="no_underline" href="https://github.com/vanessa-bell/Localator">View on GitHub</a></p>
				<a href="#/localator"><img class="u-max-full-width site" src="../static/images/localator.png"></a>
			</div>
		</div>
	</div>
</div>