<!-- Sidebar -->
<div class="row">
	<div class="three columns">
		<img id="profile_image" src="../static/images/profile.jpg">
		<div class="sidebar">
			<a href="#/"><div class="item">Home</div></a>
			<a href="#/about"><div class="item">About</div></a>
			<a href="#/skills"><div class="item selected">Skills</div></a>
			<div class="item_no_hover">
				<a href="#/projects"><div class="item_header">Projects</div></a>
				<a href="#/froxxi"><div class="item_sub">froxxi</div></a>
				<a href="#/stardate"><div class="item_sub">Stardate</div></a>
				<a href="#/snippet"><div class="item_sub">Snippet</div></a>
				<a href="#/localator"><div class="item_sub">Localator</div></a>
			</div>
			<a href="#/contact"><div class="item">Contact</div></a>
			<div class="item_no_hover">
				<a href="https://www.linkedin.com/in/philipvo"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
				<a href="https://github.com/PhilipVo"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
				<a href="mailto:philiptranbavo@gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>			
			</div>
		</div>
	</div>

	<div class="nine columns">
		<hr>
		<h3>Skills</h3>
		<p>Feel free to take a look at my résumé and skills:</p>
		<ul>
			<li><a href="../static/pdfs/PhilipVoOnePageResume.pdf">One page résumé</a></li>
			<li><a href="../static/pdfs/PhilipVoOnePageResume.pdf">Two page résumé</a></li>
		</ul>
		<hr>
		<h5>Full Stacks</h5>
		<div class="row">
			<div class="four columns stack">
				<b>MEAN</b>
				<img src="../static/images/mean.png">
				Javascript<br>
				MongoDB<br>
				Angular.js<br>
				Node.js<br>
				Express.js<br>
			</div>
			<div class="four columns stack">
				<b>PYTHON</b>			
				<img src="../static/images/python.png">
				Python<br>
				MySQL<br>
				Flask<br>
				Ajax<br>
			</div>
			<div class="four columns stack">
				<b>iOS</b>
				<img src="../static/images/ios.png">
				Swift<br>
				Xcode<br>
				iOS<br>
				Core Data<br>
				iOS Sockets<br>
			</div>
		</div>
		<hr>
		<h5>Technologies &amp; Tools</h5>
		<table class="container">
			<thead>
				<tr>
					<th>Languages</th>
					<th>Front end</th>
					<th>Back end</th>
					<th>Databases</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ul>
							<li>HTML5</li>
							<li>CSS3</li>
							<li>JavaScript</li>
							<li>C/C++</li>
							<li>Python</li>
							<li>Swift</li>
							<li>Java</li>
							<li>SQL</li>
							<li>Verilog</li>
							<li>ARM</li>
							<li>x86</li>
							<li>Tcl</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Angular.js</li>
							<li>React.js</li>
							<li>jQuery</li>
							<li>Ajax</li>
							<li>Bootstrap</li>
							<li>Skeleton</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Flask</li>
							<li>Node.js</li>
							<li>Express.js</li>
							<li>Socket.IO</li>
							<li>JWT</li>
							<li>AWS EC2</li>
							<li>Nginx</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>MySQL</li>
							<li>
								<ul>
									<li>Workbench</li>
									<li>MAMP</li>								
								</ul>
							</li>
							<br>
							<li>MongoDB
								<ul>
									<li>Mongoose</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>			
		<table class="container">
			<thead>
				<tr>
					<th>OS</th>
					<th>Software</th>
					<th>Hardware</th>
					<th>Misc.</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ul>
							<li>Windows</li>
							<li>macOS</li>
							<li>Linux/Unix</li>
							<li>Ubuntu</li>
							<li>Red Hat</li>
							<li>Fedora</li>
							<li>Kali</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Git/GitHub</li>
							<li>Eclipse</li>
							<li>Xcode</li>
							<li>VMware</li>
							<li>OMNeT++</li>
							<li>µVision</li>
							<li>MATLAB</li>
							<li>OpenCL/GL</li>
							<li>CUDA</li>
							<li>Quartus</li>
							<li>Vivado</li>
							<li>LaTeX</li>
							<li>PuTTY</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Stellaris</li>
							<li>Arduino</li>
							<br>
							<li>Altera</li>
							<li>	
								<ul>
									<li>SoCKit</li>
									<li>DE2</li>
									<li>Arria II</li>
									<li>Nios II</li>
								</ul>
							</li>
							<br>
							<li>Xilinx</li>
							<li>
								<ul>
									<li>Artix-7</li>
									<li>ZedBoard</li>
									<li>MicroBlaze</li>
								</ul>
							</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>Bash</li>
							<li>Security</li>
							<li>VANET</li>
							<li>REST</li>
							<li>CRUD</li>
							<li>MVC</li>
							<br>
							<li>TCP/IP</li>
							<li>
								<ul>
									<li>SSH</li>
									<li>FTP/SFTP</li>
									<li>HTTP/S</li>
									<li>Bluetooth</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>