@media all and (max-width: 568px) {
	.item_sub {
		display: none;
	}
}

.selected {
	background-color: #33c3f0;
}

.header {
	text-align: center;
}

.container {
	margin-bottom: 50px !important;
}

.sidebar {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.sidebar a {
	text-decoration: none;
	font-weight: bolder;
	color: #555;
}

.sidebar a:hover {
	color: #555;
}

#profile_image {
	margin-top: 10px;
	width: 100%;
	border-radius: 50%;
}

.item {
	/*width: 100%;*/
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid black;
}

.item:hover {
	background-color: #33c3f0;
}

.item_no_hover {
	/*width: 100%;*/
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid black;
}

.item_header {
	text-align: center;
	font-weight: none;
}

.item_header:hover {
	background-color: #33c3f0;
}

.item_sub {
	text-align: center;
	font-size: small;
}

.item_sub a {
	font-weight: normal;
}

.item_sub:hover {
	background-color: #33c3f0;
}

i {
	margin-right: 5px;	
}

i:hover {
	color: #33c3f0;
}

tr td ul {
	list-style-type: none !important;
}

tr td {
	vertical-align: top !important;
}

.site {
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.site:hover {
	border: 1px solid rgba(0, 0, 0, 0.2);	
}

.no_underline {
	text-decoration: none;
}

.no_hover:hover {
	color: #555;	
}

.stack {
	text-align: center;
}

.stack img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}